@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <p class="text-white text-xl-left" style="font-size: 32px; font-stretch: expanded">
        Привет, тут будет немного текста, так что дочитай до конца :) <br />
        Для начала предоставь нашему приложению доступ для добавления музыки по кнопке ниже.<br />
        <br />
        <button onclick="location.href='@ViewData["AppAuthLink"]'" class="spotifyAuthButton"></button>
    </p>
</div>
