@page
@model RulesModel
@{
    ViewData["Title"] = "Home page";
}
<!--MENU SECTION END-->
<!--HOME SECTION START-->
<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
                <div id="carousel-slider" data-ride="carousel" class="carousel slide  animate-in" data-anim-type="fade-in-up">
                    <div class="carousel-inner">
                        <div class="item active">
                            <h3>
                                Спасибо. <br />
                                1. Не выходи во время обработки твоего запроса.<br />
                                2. Приложение не обрабатывает больше 10к треков.<br />
                                3. Будь лапочкой и поставь мне звезду на Гите.<br />
                                4. Обязательно сделай страницу ВК публичной.<br />
                                5. Обязательно открой аудиозаписи.<br />
                                6. Авторизуйся через Спотифай по кнопке ниже.<br />
                            </h3>
                            <button onclick="location.href='@ViewData["AppAuthLink"]'" class="spotifyAuthButton"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
