@page
@model SupportModel
<h3 class="text-white text-xl-left" style="font-size: 32px; font-stretch: expanded">
    Я рад, что вы проявили интерес к моему проекту, но в материальной поддержке я не нуждаюсь.<br/>
    Был бы рад еще больше, если бы вы оценили мой проект на GitHub звёздочкой :)
</h3>